.card-pet {
  width: 95%;
  padding: 0px;
  border: 1px solid #617A55 !important;
  background-color: #F5F0BB !important;
}
h3 {
  text-align: center;
  font-weight: bold;
}
.fa-star {
  color: yellow;
  text-shadow: 1px 1px 2px black;
}

.card-rating {
  text-align: center;
  width: 6rem;
}
