<%= simple_form_for :search, url: pets_path, method: :get, html: { class: "pet-search-form mb-2" } do |f| %>
  <input class="form-control string required" type="text" placeholder="Where" name="search[where]" />
  <div class="d-flex">
    <input class="form-control string required" type="text" placeholder="From" name="search[from]" />
    <input class="form-control string required" type="text" placeholder="To" name="search[to]" />
  </div>
  <input class="form-control string required" type="text" placeholder="Type of pet" name="search[type]" />
  <button name="button" type="submit" class="btn btn-flat">
    <i class="fas fa-search"></i> Search
  </button>
<% end %>

<%# TODO: have loop around, have one such card for each pet in the database %>
<div class="card mx-auto card-pet my-3">
  <%= image_tag 'cat', alt: 'Pet picture', class: 'rounded-bottom-4 card-img-top' %>
  <div class="d-flex">
    <div class="p-2 align-self-center mr-auto">
      <h2 class="m-0">Albert</h2>
      <p class="m-0">Köln, Ehrenfeld</p>
    </div>
    <div class="p-2 align-self-center">
      <i class="fa-solid fa-star"></i>
      <i class="fa-solid fa-star"></i>
      <i class="fa-solid fa-star"></i>
    </div>
  </div>
  <p class="card-text p-1">
    Description, this is an amazing pet! Really, really amazing.
  </p>
  <p class="btn btn-flat my-0">
    Read more
  </p>
</div>


<div class="card mx-auto card-pet my-3">
  <%= image_tag 'cat', alt: 'Pet picture', class: 'rounded-bottom-4 card-img-top' %>
  <div class="d-flex">
    <div class="p-2 align-self-center mr-auto">
      <h2 class="m-0">Robert</h2>
      <p class="m-0">Köln, Deutz</p>
    </div>
    <div class="p-2 align-self-center">
      <i class="fa-solid fa-star"></i>
      <i class="fa-solid fa-star"></i>
    </div>
  </div>
  <p class="card-text p-1">
    Description, this is an amazing pet! Really, really amazing. But less than Albert.
  </p>
  <p class="btn btn-flat my-0">
    Read more
  </p>
</div>
