<div class="widget-content m-2" data-unavailable="[]">
  <style>
    select {
      background: $danger
    }
  </style>
  <%= simple_form_for :search, url: pets_path, method: :get, html: { class: "mb-2" } do |f| %>
    <input class="form-control string required col-12 bg-danger text-success" type="text" placeholder="Where" name="search[where]" />
    <div class="d-flex">
      <input class="form-control string required bg-danger border-success text-success" type="text" placeholder="From" name="search[from]" data-controller="flatpickr"/>
      <input class="form-control string required bg-danger border-success text-success" type="text" placeholder="To" name="search[to]" data-controller="flatpickr" />
    </div>
    <%= f.input :type, collection:  Category.pluck(:name) , label: false, placeholder: "Type of pet", include_blank: false, prompt: 'Select a category', class: "form-control string required", input_html: { class: 'bg-danger' }%>
    <div class="w-100 text-center">
      <button name="button" type="submit" class="btn btn-success">
        <i class="fas fa-search"></i> Search
      </button>
    </div>
  <% end %>
</div>

<% @pets.each do |pet| %>
  <%= render "pet_card", pet: pet%>
<% end %>
