<div class="container">
    <div class="row text-center justify-content-center align-items-center my-5" style="min-height: 80vh">
      <div class="col-10 col-sm-6 border border-success py-4 rounded rounded-5 bg-danger">
        <h2>Thank you for  the reservation!</h2>
        <p>Your request has been successfully submited with order number
          <strong><%=@booking.id%></strong>.
          The owner will review your request soon.
        </p>
        <br>
        <%= link_to "Send new message to #{@booking.pet.user.first_name}", chatroom_booking_path(@booking)	, class: "btn btn-success"%>
        <%= link_to "New Reservation", pets_path	, class: "btn btn-danger"%>
      </div>
    </div>
</div>
