<div class="container">
  <h1 class="text-center mt-3">Edit Booking</h1>
  <div class="d-flex flex-wrap justify-content-center w-100">
    <%= render "bookings/form", pet: @pet, booking: @booking%>
  </div>
</div>
