<div class="container">
  <h1 class="text-center mt-3">All My Booking Requests</h1>

  <h3>Pending booking requests:</h3>
  <%= render "bookings/booking_cards", requests: @pending_requests%>

  <h3>Accepted booking requests:</h3>
  <%= render "bookings/booking_cards", requests: @accepted%>

  <h3>Completed booking requests:</h3>
  <%= render "bookings/booking_cards", requests: @completed%>
</div>
