<div class="container-fluid full-height d-flex align-items-center justify-content-center">
  <div class="text-center">
    <img src="https://img.freepik.com/free-photo/portrait-collection-adorable-puppies_53876-145628.jpg?w=996&t=st=1686053838~exp=1686054438~hmac=dbd7a437f8104d938095bb7a723fc64e8ecb9b75f2fb10029d7cd8d6eac5c93d" alt="Full Screen Image" class="full-screen-image">
    <h1>PetMate</h1>
    <h2 class="heading-space">Find your favourite pet close to you!</h2>
    <a class="btn btn-flat" href="<%=pets_path%>">Get Started</a>
  </div>
</div>
