.chatroom {
  margin-top: 9px;
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  background-color: $danger;

  h1 {
    border-bottom: 1px solid $success;
    margin-bottom: 0;
    padding: 1rem;
  }

  .messages {
    background-color: $danger;
    border-top: 1px solid $success;
    height: 100%;
    overflow: scroll;
    padding: 1rem;
    border-radius: $border-radius-lg;
  }

  #new_message {
    border-top: 1px solid $success;
    padding: 1rem;

    .form-group {
      margin-bottom: 0;
      background: red;
    }
  }
}
