.navbar{
  justify-content: space-between;
  background-color: #617A55;
}

#navbar-home {
  width: 40px; /* Set the desired width */
  height: 40px; /* Set the desired height */
}

#navbar-heart {
  width: 35px;
  height: 35px;
}

#navbar-message {
  width: 40px;
  height: 40px;
}

#navbar-profile{
  width: 40px;
  height: 40px;
}

#navbar-bookings{
  width: 40px;
  height: 40px;
}

.page-container {
  min-height: 100vh;
}
body {
  width: 100vw;
  overflow-x: hidden;
}
.row {
  --bs-gutter-x: 0;
}
