.navbar{
  justify-content: space-between;
  background-color: #617A55;
}

#navbar-home {
  width: 40px; /* Set the desired width */
  height: 40px; /* Set the desired height */
}

#navbar-heart {
  width: 35px;
  height: 35px;
}

#navbar-message {
  width: 40px;
  height: 40px;
}

#navbar-profile{
  width: 40px;
  height: 40px;
}

#navbar-bookings{
  width: 40px;
  height: 40px;
}

.page-container {
  min-height: 90vh;
}
body {
  width: 100vw;
  overflow-x: hidden;
}
.row {
  --bs-gutter-x: 0;
}
.notification-badge {
  background-color: red; /* Set the background color */
  color: white; /* Set the text color */
  font-size: 12px; /* Adjust the font size */
  padding: 4px 4px; /* Add padding around the text */
  border-radius: 50%; /* Make it a circle */
  position: absolute; /* Position it relative to the parent element */
  top: 4px;
  right: 76px;
}
