<div class="container">
  <div class="row text-center justify-content-center align-items-center my-5" style="min-height: 80vh">
    <div class="col-10 col-sm-6 border border-success py-4 rounded  rounded-5 bg-danger">
      <h1 class="text-center mt-3">New Category</h1>
      <div class="d-flex flex-wrap justify-content-center w-100">
        <%= render "form", category: @category%>
      </div>
    </div>
  </div>
</div>
