<div class="container">
  <h1 class="text-center mt-3">Category</h1>

  <div class="col-12">
    <div class="card rounded shadow-sm">
      <div class="card-body">
        <h5 class="card-title"><%= @category.name %></h5>
        <p class="card-text">Created at: <%= @category.created_at.strftime("%B %d, %Y") %></p>
      </div>
    </div>
  </div>
</div>
