<div class="container">
  <h1 class="text-center mt-3">Category</h1>

      <div class="col-12">
        <li class="card rounded shadow-sm">
          <p class="card-title"><%= @category.name %></p>
        </li>
      </div>

  </ul>
</div>
